.CardMain {
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 280px;
    height: 320px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}

.Imagen {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Imagen img {
    width: 80%;
    max-width: 250px;
    animation: fadeIn 3s ease-in-out;
}

.Title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
    width: 100%;
    height: 40px;
    background-color: var(--blue);
    color: var(--white);
}

.Error h2 {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
