@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
* {
    /* COLORS */
    --blue: #00527e;
    --green: #80b42d;
    --white: #fafafa;

    /* FONTS */
    --fontFamily: 'Raleway', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--fontFamily);
    font-size: 62.5%;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

